flows.json
[
    {
        "id": "98460b486bad2b7d",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "15e38061a8222a97",
        "type": "inject",
        "z": "98460b486bad2b7d",
        "name": "Instructions",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Use the button to generate random distance.",
        "payloadType": "str",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "9be267b8eb4eac79"
            ]
        ]
    },
    {
        "id": "9be267b8eb4eac79",
        "type": "ui_text",
        "z": "98460b486bad2b7d",
        "group": "4447fc3ebd3b719a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Use the button to generate random distance.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "3ec088c239ed1c85",
        "type": "ui_switch",
        "z": "98460b486bad2b7d",
        "name": "",
        "label": "On / Off",
        "tooltip": "",
        "group": "4447fc3ebd3b719a",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-arrow-circle-up",
        "oncolor": "Green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-arrow-circle-down",
        "offcolor": "Red",
        "animate": true,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "cff5a7b6d79a226b"
            ]
        ]
    },
    {
        "id": "0d63a9e36a7e0165",
        "type": "function",
        "z": "98460b486bad2b7d",
        "name": "Random #s",
        "func": "if (msg.payload === false){\n    return null;\n}\nmsg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a8485126038a5b72",
        "type": "link in",
        "z": "98460b486bad2b7d",
        "name": "",
        "links": [
            "c99632e4e4417ebe"
        ],
        "x": 135,
        "y": 340,
        "wires": [
            [
                "b509caf517f3b8c8",
                "b33a102bf57c1763",
                "9d43c41e3db825f9",
                "64ca9fffbbe8ef7a",
                "645883a3786d6e9c"
            ]
        ]
    },
    {
        "id": "c99632e4e4417ebe",
        "type": "link out",
        "z": "98460b486bad2b7d",
        "name": "",
        "links": [
            "a8485126038a5b72"
        ],
        "x": 815,
        "y": 60,
        "wires": []
    },
    {
        "id": "b509caf517f3b8c8",
        "type": "ui_chart",
        "z": "98460b486bad2b7d",
        "name": "Distance",
        "group": "f871cf280772d4a7",
        "order": 10,
        "width": "7",
        "height": "5",
        "label": "Distance represented graphically",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "e72958b2097031dd"
            ]
        ]
    },
    {
        "id": "24264f801f96062f",
        "type": "function",
        "z": "98460b486bad2b7d",
        "name": "",
        "func": "if (msg.payload === false){\n    return null;\n}\nmsg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9d43c41e3db825f9",
        "type": "switch",
        "z": "98460b486bad2b7d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "300",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "300",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "150",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 350,
        "y": 440,
        "wires": [
            [
                "17d37cab568f8cf9"
            ],
            [
                "5082505fb307a416"
            ],
            [
                "5082505fb307a416"
            ],
            [
                "f2f6e66776fb03cb"
            ],
            [
                "f6be4f1068bee51b"
            ]
        ]
    },
    {
        "id": "f2f6e66776fb03cb",
        "type": "template",
        "z": "98460b486bad2b7d",
        "name": "Unsafe distance",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Caution! Unsafe Distance!Move Away! {{payload}} ",
        "output": "str",
        "x": 640,
        "y": 540,
        "wires": [
            [
                "dba70c716ec46070"
            ]
        ]
    },
    {
        "id": "17d37cab568f8cf9",
        "type": "template",
        "z": "98460b486bad2b7d",
        "name": "safe distance ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You are at a safe distance :) {{payload}} ",
        "output": "str",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "dba70c716ec46070"
            ]
        ]
    },
    {
        "id": "dba70c716ec46070",
        "type": "ui_toast",
        "z": "98460b486bad2b7d",
        "position": "bottom right",
        "displayTime": "1",
        "highlight": "teal",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "64ca9fffbbe8ef7a",
        "type": "file",
        "z": "98460b486bad2b7d",
        "name": "",
        "filename": "C:\\Users\\K.AJITESH SARANATH\\Desktop\\Data\\new.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 530,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "cff5a7b6d79a226b",
        "type": "random",
        "z": "98460b486bad2b7d",
        "name": "random number 0-500",
        "low": "80",
        "high": "500",
        "inte": "true",
        "property": "payload",
        "x": 660,
        "y": 180,
        "wires": [
            [
                "ec65309a3c7ff8fd",
                "c99632e4e4417ebe"
            ]
        ]
    },
    {
        "id": "b33a102bf57c1763",
        "type": "ui_text",
        "z": "98460b486bad2b7d",
        "group": "f871cf280772d4a7",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "DISTANCE",
        "label": "Distance is currently",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 350,
        "y": 340,
        "wires": []
    },
    {
        "id": "e72958b2097031dd",
        "type": "ui_media",
        "z": "98460b486bad2b7d",
        "group": "a56c58d0649afe34",
        "name": "",
        "width": "6",
        "height": "4",
        "order": 5,
        "category": "Project_IOT",
        "file": "distancing-over-shoulder.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "d607eecdb7059f0d"
            ]
        ]
    },
    {
        "id": "603d8f1cf0c094cb",
        "type": "inject",
        "z": "98460b486bad2b7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payloadType": "str",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "3ec088c239ed1c85",
                "27f7c285edc771df"
            ]
        ]
    },
    {
        "id": "5085b806134edba5",
        "type": "mqtt in",
        "z": "98460b486bad2b7d",
        "name": "",
        "topic": "Receiver",
        "qos": "2",
        "datatype": "auto",
        "broker": "b523e7d2bfa3330e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 400,
        "wires": [
            [
                "b509caf517f3b8c8",
                "b33a102bf57c1763",
                "9d43c41e3db825f9",
                "64ca9fffbbe8ef7a"
            ]
        ]
    },
    {
        "id": "ec65309a3c7ff8fd",
        "type": "mqtt out",
        "z": "98460b486bad2b7d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b523e7d2bfa3330e",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "027dcfafc0849f93",
        "type": "aedes broker",
        "z": "98460b486bad2b7d",
        "name": "localbroker 2",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 580,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "645883a3786d6e9c",
        "type": "ui_gauge",
        "z": "98460b486bad2b7d",
        "name": "",
        "group": "faee651240e0f383",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Neo Pixel Ring ",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#fd0d25",
            "#e6e600",
            "#0ee139"
        ],
        "seg1": "100",
        "seg2": "300",
        "x": 270,
        "y": 180,
        "wires": []
    },
    {
        "id": "27f7c285edc771df",
        "type": "debug",
        "z": "98460b486bad2b7d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "5082505fb307a416",
        "type": "template",
        "z": "98460b486bad2b7d",
        "name": "Caution",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Be Cautious!You are too near! {{payload}} ",
        "output": "str",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "dba70c716ec46070"
            ]
        ]
    },
    {
        "id": "d607eecdb7059f0d",
        "type": "ui_media",
        "z": "98460b486bad2b7d",
        "group": "91413fe4b12434b8",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 0,
        "category": "Project_IOT_Video",
        "file": "Proje.mp4",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "b603decd951eeac6"
            ]
        ]
    },
    {
        "id": "b603decd951eeac6",
        "type": "ui_media",
        "z": "98460b486bad2b7d",
        "group": "012f17bd060d56fe",
        "name": "",
        "width": "6",
        "height": "5",
        "order": 0,
        "category": "Project_Tinkercad",
        "file": "Capture.JPG",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 900,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e90f77b260292abb",
        "type": "ui_audio",
        "z": "98460b486bad2b7d",
        "name": "",
        "group": "a56c58d0649afe34",
        "voice": "Microsoft David - English (United States)",
        "always": "",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "f6be4f1068bee51b",
        "type": "template",
        "z": "98460b486bad2b7d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Danger!You are too near!",
        "output": "str",
        "x": 650,
        "y": 600,
        "wires": [
            [
                "e90f77b260292abb"
            ]
        ]
    },
    {
        "id": "4447fc3ebd3b719a",
        "type": "ui_group",
        "name": "Start / Stop",
        "tab": "8b887b05c06070ee",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f871cf280772d4a7",
        "type": "ui_group",
        "name": "Graph",
        "tab": "8b887b05c06070ee",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "a56c58d0649afe34",
        "type": "ui_group",
        "name": "Practical Application (Animation)",
        "tab": "8b887b05c06070ee",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b523e7d2bfa3330e",
        "type": "mqtt-broker",
        "name": "LOCAL Broker 2",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "faee651240e0f383",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "8b887b05c06070ee",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "91413fe4b12434b8",
        "type": "ui_group",
        "name": "Tinkercad Simulation",
        "tab": "8b887b05c06070ee",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "012f17bd060d56fe",
        "type": "ui_group",
        "name": "Tinkercad Representation",
        "tab": "8b887b05c06070ee",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8b887b05c06070ee",
        "type": "ui_tab",
        "name": "Social Distance Indicator System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]